<ion-header>
  <ion-toolbar color="success" class="ion-text-center">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="borde-style">
    <ion-card-header color="light">
      <!-- <ion-card-subtitle>Bienvenido a iBiblioteca!</ion-card-subtitle> -->
      <ion-card-title>Bienvenido a iBiblioteca!</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-margin-top">
      iBiblioteca es una aplicación desarrollada con Ionic que permite gestionar
      una biblioteca de un centro educativo. Para acceder a la biblioteca pulsa
      en el siguiente botón:
    </ion-card-content>
    <ion-card-header>
      <ion-item routerLink="/i-biblioteca">
        <ion-icon color="success" name="library-outline" slot="start"></ion-icon>
        <ion-label>Acceso a iBiblioteca</ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>
  <ion-card class="borde-style">
    <ion-card-header color="light">
      <!-- <ion-card-subtitle>Bienvenido a iBiblioteca!</ion-card-subtitle> -->
      <ion-card-title>Información sobre el autor</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-margin-top">
      Aplicación desarrollada por Elias Uribe. 
    </ion-card-content>
    <ion-card-header>
      <ion-item routerLink="/autor">
        <ion-icon color="success" name="person-outline" slot="start"></ion-icon>
        <ion-label>Consultar información</ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>
